<div>
  <form #frm=ngForm>
    <div class="mb-3">
      <label>NAME:</label>
      <input type="text" class="form-control" placeholder="name" ngModel name="name">
    </div>
    <div class="mb-3">
      <label>AGE:</label>
      <input type="text" class="form-control" placeholder="age" ngModel name="age">
    </div>
    <div class="mb-3">
      <label>EDUCATION:</label>
      <input type="text" class="form-control" placeholder="education" ngModel name="education">
    </div>
    <button type="submit" class="btn btn-primary" (click)="create(this.frm.value)">Create</button>
  </form>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Age:</th>
      <th>Education:</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr *ngFor="let d of gdata">
      <td>{{d.name}}</td>
      <td>{{d.age}}</td>
      <td>{{d.education}}</td>
      <td>
        <button class="btn btn-primary" (click)="openfrm(d)">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(d.id)">Delete</button>
      </td>

    </tr>
  </tbody>
</table>

<div class="form-wrapper" *ngIf="formdata">
  <div class="dataform">

    <h2 class="text-center text-info">Edit data</h2>

    <div class="group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" [(ngModel)]="userdata.name" name="name">
    </div>
    <div class="group">
      <label for="age">AGE:</label>
      <input type="text" class="form-control" [(ngModel)]="userdata.age" name="age">
    </div>
    <div class="group">
      <label for="education">Education:</label>
      <input type="text" class="form-control" [(ngModel)]="userdata.education" name="education">
    </div>
    <div class="action">
      <button class="btn btn-primary save" (click)="savedata()">Save Changes</button>
      <button class="btn btn-danger cancel" (click)="closeForm()">Cancel</button>
    </div>

  </div>
</div>





<router-outlet></router-outlet>